# This is an example file for environment variables.
# In a Vanilla JS project (without a processor like Vite or Node.js),
# environment variables are not automatically loaded by the browser.
# However, it is recommended to have this file if you decide to add a build tool.

API_BASE_URL=https://rickandmortyapi.com/api/character
LOGIN_USER=admin
LOGIN_PASS=password
