# Este es un archivo de ejemplo para variables de entorno.
# En un proyecto de JS Vanilla (sin procesador como Vite o Node.js),
# las variables de entorno no son cargadas automáticamente por el navegador.
# Sin embargo, se recomienda tener este archivo si decides añadir una herramienta de construcción.

API_BASE_URL=https://rickandmortyapi.com/api/character
LOGIN_USER=admin
LOGIN_PASS=password
